/** global element styling **/

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Yanone+Kaffeesatz:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: 'Heebo', sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  
  text-decoration: none;
}

/** global classes styling **/

.container {
  margin: 5vh auto 5vh auto;
  max-width: 1000px;
  width: 100%;
}

.btn {
  background: transparent;
  border: 3px black solid;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 900;
  height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
}

.grid {
  display: flex;
}

header {
  align-items: center;
  background-color: #fed9b7;
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  /*padding: 0px 59px;*/
  min-width: 100%;
  position: fixed;
  top: 0;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    position: relative;
    width: 100%;
  }
}

.logo > img {
  align-items: center;
  display: flex;
  height:45px; /* specifying width height pixels display logo*/
  justify-content: center;
  margin-left: 20px;
  max-width: 300px;
  text-align: center;
  width:105px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0 50px;
    text-align: center;
    width: 100%;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35vw;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type="email"] {
  background-color: #fdfcdc;
  max-width: 275px;
  padding: 5px;
  width: 100%;
}

#hero input[type="submit"] {
  background-color: #f07167;
  border: 0;
  color: #ffffff;
  height: 30px;
  margin: 15px 0;
  max-width: 150px;
  width: 100%;
}

#hero input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#features {
  margin-top: 30px;
}

#features .icon {
    align-items: center;
    color: #35baf6;
    display: flex;
    height: 125px;
    justify-content: center;
    margin-right: 25px;
    padding-bottom: 12px;
    width: 15vw;

}

@media (max-width: 550px) {
  #features .icon {
   display: none;
  }
}

  .desc {
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: center;
  padding: 5px;
  width: 80vw;
}

@media (max-width: 550px) {
  #features .desc {
    height: 150px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.product {
  align-items: center;
  background-color: #00afb9;
  border: 2px solid #fed9b7;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  width: calc(100%  / 3);
}

.product > .level {
    background-color: #0081a7;
    color: #fdfcdc;
    font-weight: 700;
    padding: 15px 0;
    text-transform: uppercase;
    width: 100%;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  background-color: #f07167;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  margin: 15px 0;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
  }
}

footer {
  background-color:#fdfcdc;
  margin-top: 30px;
  padding: 30px;
  
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li > a {
  padding: 0 10px;
  color: #444
}

footer > span {
  color: #444;
  display: flex;
  font-size: 1.0em;
  justify-content: flex-end;
  margin-top: 5px;
}
 .outline {
  background-color: #dcdcdc;
}

.nav-link {
  color: #000;
}
